@charset "utf-8";

body, html {
    width: 100%;
    margin: auto;
}
* {
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	color: black;
    font: 100%;
}
ul, li , a {
    list-style: none;
    text-decoration: none;
}
div {
    display: block;
  }

/*--TOP BAR-------------------------------------------*/
.header {
    background-color: #f6f5ef;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.middle_topbar {
    display: flex;
    

}
.topbar {
    margin: auto;
    width: 1100px;
    height: 120px;
    
}
.toplogo {
    padding: 20px;

}
.leftlogo {
    
}
.first_nav {
    margin-right: 10px;
}

.ul1 {
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.ul1 .li1 {
    padding-right: 25px;
    font-size: 13px;
    padding-top: 8px;
    
}
.ul1 a {
    color: #6e6d79;
}
/***************/
.rightnav {
    width: 1080px;
}

.ul2 {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}  
.ul2 a {
    font-size: 13px;
    font-weight: lighter;
}
.ul2 li {
    padding: 0px 20px;
}
.search_img {
    background-color: white
    ;
    padding: 4.5px;
    border-radius: 10%;
    border: 1px solid #bfbfc9;
}

/*--음료----------------------------------------*/

#chris_main {
    background-image: url();
    background: #d1131d;
    height: 646px;
    background-size: cover;
    padding-top: 120px;
    width: 100%;
    
}
.main-drinks_wrap {
    width: 1100px;
    margin: auto;
    height: 646px;
    
}

.main-visual {
    padding-top: 50px;
    width: 335px;
    height: 130px;
    position: absolute;

}

.main-visual_set {
    display: flex;
    width: 700px;
    height: 646px;
    margin-left: 300px;
 
}
.set_01 {
    width: 160px;
    height: 345px;
    top: 220px;
    position: relative;
}
.set_02 {
    width: 430px;
    height: auto;
    top: 30px;
    position: relative;
}
.set_03 {
    width: 430px;
    height: 400px;
    top: 150px;
    position: relative;
}
.btn_slogan {
    position: relative;
    width: 120px;
    height: 23px;
    text-align: center;
    top: 220px;
    left: 100px;
    padding-top: 8px;
    border-radius: 5px;
    border: 2px solid white;
}
.btn_slogan > a {
    color: white;
}



/** 뱃지 **/
.right_fixed {
    position: absolute;
    z-index: 1;
}
.badge_cont1  img  {
    left: 1300px;
    position: fixed;
    top: 130px;
    margin: auto;
}
.badge_cont2  img  {
    left: 1300px;
    margin: auto;
    position: fixed;
    top: 230px;
}

/*--공지사항-----------------------------------*/
.bw_bar {
    background-color: black;
    height: 62px;
    width: 100%;
}
.blc_whit {
    width: 1100px;
    margin: auto;
    display: flex;
}
/**왼**/
.blc {
    width: 550px;
    height: 62px;
    margin: auto;
    
}
.blc_inner_l {
    display: flex;
    justify-content: flex-end;
    padding-right: 270px;
    padding-top: 23px;
}
.blc_inner_l img {
    padding-right: 30px;
}
.blc_inner_l a {
    padding-left: 10px;
    color: white;
}
/**오**/
.whi_te {
    
    width: 550px;
    height: 62px;
}
.whit_inner_l {
    padding-left: 280px;
    padding-top: 23px;
}
.whit_inner_l p {
    color: white;
    font-size: 20px;
}
/*--Starbucks Rewards-----------------------------*/
.rewards_conts p , h2 , strong {
    color: white;
    font-size: 17px;
}
.rewards_wrap {
    background-color: #1e3932;
    height: 207px;
    width: 100%;
}
.rewards_inner {
    width: 1100px;
    margin: auto;
    display: flex;
}
.rewards_logo {
    padding: 25px 0px 0px 60px;

}
.rewards_img {
    width: 175px;
}
/**/
.rewards_conts {
    width: 820px;
    height: 207px;
    padding-left: 40px;
}

.info-cont_txt > h2 {
    padding-top: 25px;
    font-size: 26px;
}
.txtnbtn {
    display: flex;
    height: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bfbfc9;
}
.member {
    height: 47px;
    width: 440px;
    margin-top: -10px;
}
.member p {
    line-height: 1.4;
    font-size: 17px;
}
.info-txt1 {
    font-weight: normal;
}
.btn-signin_group {
    width: 180px;
    height: 40px;
    margin-left: 200px;
    text-align: center;
}
.btn-signin_group button {
    line-height: 36px;
    padding-left: 18.5px;
    padding-right: 18.5px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    
}
.btn-signin {
    cursor: pointer;
    background-color: #00704a;
    border: 2px solid #00704a;
}
.btn-signin_login {
    margin-left: 9px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #fff;
}

/**/
.gift-cont {
    padding-top: 15px;
    width: 820px;
    display: flex;
}
.gift-cont_txt {
    width: 520px;
}
.gift-cont_txt p , .gift-cont_txt strong {
    font-size: 14px;
}

.btn_egift {
    width: 300px; 
}
.e-gift-btn {
    background: transparent;
    cursor: pointer;
    float: right;
    line-height: 34px;
    padding-left: 28px;
    padding-right: 28px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;

}
.btn_egift::after {
    clear: both;
    display: block;
    float: none;
    content: '';
}
/*--Red Blend Coffe-----------
--------------------*/
#blendbean_wrap {
    background-image: url(img/pink_bg.jpeg);
    height: 573px;
    overflow: hidden;
    position: relative;
    background-size: 100% 100%;
}
.blendbean_inner {
    position: relative;
    max-width: 1080px;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    padding-top: 95px;
    padding-left: 165px;
}
.bean_txt_box {
    position: relative;
    padding-left: 45px;
    padding-top: 100px;
}
.btn_bean_detail {
    padding-top: 35px;
}
.btn_bean_detail a {
    font-size: 100%;
    text-decoration: none;
    color: #000;
    background: transparent;
    cursor: pointer;
    line-height: 36px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #000;
    padding: 10px 28px;
}
.btn_bean_detail a:hover {
    color: white;
    border: 2px solid #453d3d;
    background-color: #453d3d;
    transition: background-color .8s, color .8s;
}

/*--Green Reserve---------------------------------*/
#goldstar {
    background-image: url(img/green_reserve.jpg);
    background-image: ;
    width: 100%;
    height: 400px;
}
.reserve_inner {
    margin: auto;
    height: 400px;
    max-width: 1100px;

}
.reserve_title {
    padding-top: 150px;
}
.reserve_detail-btn {
    padding-left: 370px;
}
.reserve_detail-btn > a {
    display: block;
    width: 125px;
    height: 100%;
    color: #d5a012;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    border: 2px solid #d5a012;
    border-radius: 5px;
}
.reserve_detail-btn > a:hover {
    transition: background-color .7s, color .7s, border-color .7s;
    border: 2px solid #d5a012;
    background-color: #d5a012;
    color: white;
}
/*--pick -----------------------------------------*/


/*--reserve magazine------------------------------*/

#favWrap {
    background-image: url(img/fav_prod_bg_new.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
}


.reserve_magazine_wrap {
    background-image: url(img/magazine-_line.png);
}