@charset "utf-8";

body, html {
    width: 1200px;
    height: 100%;
}
* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;*/
	vertical-align: baseline;
	color: black;
}
ul, li {
    list-style: none;
}
div {
    display: block;
  }

/*--메뉴-------------------------------------------*/
.topbar {
    width: 100%;
    background-color: burlywood;


}
.toplogo {
    padding: 20px;
    float: left;
}
.first_nav {
    background-color: cadetblue;
}
.nav1 {  /** topnav 부모 */
    background-color: chartreuse;
}
.nav1::after {
    float: none;
    display: block;
    content: '';
    clear: both;
}
.top_nav {
    background-color: coral;
    padding: 2px;
    float: left;
}
.sec_nav {
    background-color: cornflowerblue;
}
.rolldown_nav {
    background-color: salmon;
}
.rolldown_nav::after {
    float: none;
    display: block;
    content: '';
    clear: both;
}
.nav2 {
    background-color: slateblue;
    float: left;
    padding: 10px;
    margin-right: ;
}  
.dropdowna {
   
}

/*--내용-------------------------------------------*/


/*--메뉴소개----------------------------------------*/



/*--공지사항 스르륵-----------------------------------*/



/*--Starbucks Rewards-----------------------------*/




/*--Red Blend Coffe-------------------------------*/



/*--Green Reserve---------------------------------*/




/*--reserve magazine------------------------------*/

#favWrap {
    background-image: url(img/fav_prod_bg_new.jpg);
}


.reserve_magazine_wrap {
    background-image: url(img/magazine-_line.png);
}